{% extends 'default/index.html.twig' %}
{% block header %}
{% endblock %}
{% block content %}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">Services
    <small>Transportation</small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('Accueil') }}">Home</a>
    </li>
    <li class="breadcrumb-item active">Transportation</li>
</ol>

<!-- Image Header -->
<img class="img-fluid rounded mb-4" src="{{ asset('bundles/Asset/images/transport/large.jpg')}}" alt="">

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Transportation</h4>
            <div class="card-body">
                <p class="card-text">Transport of goods by road with vehicles of less than 3.5 Tonnes</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}
